  <h1 class="country">Country: {{name.official}}</h1>
  <img class="flag" src="{{flags.svg}}" alt="Flag">
  <ul>
    <li class="capital">Capital of {{name.official}} is {{capital}} </li>
    <li class="population">Population: {{population}} </li>
    <li class="language">Language/s is/are {{languages}} </li>
  </ul>